<?xml version='1.0' encoding='utf-8'?><!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:sqlserver://localhost:1433;database=library_management;encrypt=true;trustServerCertificate=true
        </property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">Strongpass@</property>
        <property name="dialect">org.hibernate.dialect.SQLServer2016Dialect</property><!-- DB schema will be updated if needed -->
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="org.example.entities.Book"></mapping>
        <mapping class="org.example.entities.Invoice"></mapping>
        <mapping class="org.example.entities.Customer"></mapping>
        <mapping class="org.example.entities.Users"></mapping>
        <mapping class="org.example.entities.Role"></mapping>

    </session-factory>
</hibernate-configuration>
